.mobile-alert {
    display: none;  
    color:red; 
    text-align: center; 
    margin-top: 15px;
}

.shopTitle {
    font-size: 24px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    margin-bottom: 20px; /* 아래 여백 */
    color: #333; /* 글자 색상 */
    text-align: center; /* 중앙 정렬 */
    text-decoration: underline; /* 밑줄 */
    margin-top: 10px;
}

#shop_h2 {
    text-align: center; 
    margin-bottom: 20px;
}

#shop_div {
    width: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.178) !important;
    border-radius: 10px;
    padding: 20px;
}

#shop_label {
    color: rgba(0, 0, 0, 0.507);
}

/* 페이징 */
.pageHidden {
    visibility: hidden;
}
/* /페이징 */

/* 글자 중앙정렬 */
.textCenter {
    text-align: center;
    /* height: 30px; */
    color: rgb(0, 0, 0);
    /* line-height: 30px; */
    bottom: 0;
    font-size: 0.75rem;
}
/* /글자 중앙정렬 */

.socialIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}